@{
    IConfiguration configuration = ViewBag.Configuration;
}

    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Reportes <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
            <li><a href="/Report?_r=p001&name=Registro/Manifestación de Interés - P001">  Registro/Manifestación de Interés - P001</a></li>
            <li><a href="/Report?_r=p001A&name=Registro/Manifestación de Interés - P001A"> Registro/Manifestación de Interés - P001A</a></li>
            <li><a href="/Report?_r=p002&name=Preguntas y Respuestas - P002">  Preguntas y Respuestas - P002</a></li>
            <li><a href="/Report?_r=p003&name=Primera Entrega - P003">  Primera Entrega - P003</a></li>
            <li><a href="/Report?_r=p003A&name=Primera Entrega - P003A"> Primera Entrega - P003A</a></li>
            <li><a href="/Report?_r=p003B&name=Primera Entrega - P003B"> Primera Entrega - P003B</a></li>
            <li><a href="/Report?_r=p003C&name=Primera Entrega - P003C"> Primera Entrega - P003C</a></li>
            <li><a href="/Report?_r=p003D&name=Primera Entrega - P003D"> Primera Entrega - P003D</a></li>
            <li><a href="/Report?_r=p003E&name=Primera Entrega - P003E"> Primera Entrega - P003E</a></li>
            <li><a href="/Report?_r=p003F&name=Primera Entrega - P003F"> Primera Entrega - P003F</a></li>
            <li><a href="/Report?_r=p003G&name=Primera Entrega - P003G"> Primera Entrega - P003G</a></li>
            <li><a href="/Report?_r=p0046&name=Revisión TJ - P004">  Revisión TJ - P004</a></li>
            <li><a href="/Report?_r=p004A&name=Revisión CE - P004"> Revisión CE - P004</a></li>
            <li><a href="/Report?_r=p005&name=Prevención - P005">  Prevención - P005</a></li>
            <li><a href="/Report?_r=p006&name=Segunda Entrega - P006">  Segunda Entrega - P006</a></li>
            <li><a href="/Report?_r=p003A&name=Segunda Entrega - P003A"> Segunda Entrega - P003A</a></li>
            <li><a href="/Report?_r=p003B&name=Segunda Entrega - P003B"> Segunda Entrega - P003B</a></li>
            <li><a href="/Report?_r=p003C&name=Segunda Entrega - P003C"> Segunda Entrega - P003C</a></li>
            <li><a href="/Report?_r=p003D&name=Segunda Entrega - P003D"> Segunda Entrega - P003D</a></li>
            <li><a href="/Report?_r=p003E&name=Segunda Entrega - P003E"> Segunda Entrega - P003E</a></li>
            <li><a href="/Report?_r=p003F&name=Segunda Entrega - P003F"> Segunda Entrega - P003F</a></li>
            <li><a href="/Report?_r=p003G&name=Segunda Entrega - P003G"> Segunda Entrega - P003G</a></li>
            <li><a href="/Report?_r=p007&name=Dictaminación - P007">  Dictaminación - P007</a></li>
            <li><a href="/Report?_r=p008&name=Validación de Representantes Legales - P008">  Validación de Representantes Legales - P008</a></li>
        </ul>
    </li>